@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');
*{
    padding: 0;
    margin: 0;
}

.body{
    background: url("FlAi.gif"); 
    min-height: 100vh;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

#scoreBox{
    color: aliceblue;
    position: absolute;
    top: 9px;
    right: 200px;
    font-size: 39px;
    font-weight: bold;
    font-family: 'New Tegomin', serif;
}

#hiscoreBox{
    color: aliceblue;
    position: absolute;
    top: 59px;
    right: 140px;
    font-size: 39px;
    font-weight: bold;
    font-family: 'New Tegomin', serif;
}

#board{
    background: linear-gradient(rgb(26, 58, 7), rgb(22, 112, 47));
    width: 95vmin;
    height: 93vmin;
    border: 3px solid black;
    display: grid;
    grid-template-rows: repeat(18, 1fr);
    grid-template-columns: repeat(18, 1fr);
    box-shadow: 5px 8px;
}

.head{
    background: linear-gradient(rgb(198, 189, 94), rgb(144, 69, 28));
    border: 2px solid rgb(41, 9, 41); 
    transform: scale(1.08);
    border-radius: 16px;
}

.snake{
    background-color: rgb(167, 134, 84);
    border: .25vmin solid white;
    border-radius: 20px;
}

.food{
    background: linear-gradient(rgb(147, 47, 47), rgb(79, 17, 79));
    border: .20vmin solid rgb(23, 20, 20);
    border-radius: 9px;
}